@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

=shadow
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)

=shadow-alt
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.25)

$primary-color: #1F5D39
$secondary-color: #C99A2C

body
  font-family: Nunito, sans-serif
  margin: 0
  
.logo
  background-image: url('assets/logo.jpg')
  background-repeat: no-repeat
  background-size: contain

.register-button
  font-size: 1.25em
  color: $primary-color
  font-weight: bold
  border: 2px solid $primary-color
  border-radius: 50px
  width: 250px
  text-align: center
  line-height: 225%
  letter-spacing: .05em
  margin-top: 25px
  text-decoration: none
  transition: background-color .2s, color .2s

  &:hover
    background-color: $primary-color
    color: white

.menu
  height: 100px
  background-color: white
  display: flex
  position: relative
  align-items: center
  padding: 0 100px
  justify-content: space-around

  .menu-item
    // line-height: 60px
    // color: $primary-color
    color: #666666
    font-weight: bold
    font-size: 1.4em
    text-decoration: none
    transition: color .2s
    // flex: 1
    // text-align: center
    // border-radius: 50px

    .line
      height: 4px
      width: 0px
      background-color: $primary-color
      margin: auto
      transition: width .2s
      border-radius: 5px

    &:hover
      color: $primary-color

      .line
        width: 100%


#background
  width: 100%
  height: 100%
  background-image: url('assets/background.png')
  background-size: 100% 100%
  position: fixed
  top: 0
  left: 0
  z-index: -1


#top
  width: 100%
  height: 100%
  position: relative
  transition: height .6s

  &.shift-up
    height: calc(100% - 100px)

  #main-tab
    $width: 600px
    +shadow-alt
    width: $width
    height: 400px
    position: absolute
    background-color: white
    bottom: 0
    left: calc(50% - #{$width}/2)
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    display: flex
    flex-direction: column 
    align-items: center
    border-bottom: 5px solid $primary-color 

    .logo
      $scale: 96px / 75px
      $width: 85px
      width: $width
      height: $width * $scale
      margin-top: 15px
      
    .title
      font-size: 5em
      letter-spacing: .15em
      color: rgba(0, 0, 0, 0.8)
      font-weight: bold
      line-height: 125%

    .text
      color: rgba(0, 0, 0, 0.8)
      letter-spacing: .05em
      line-height: 175%
      font-size: 1.25em

      &.large
        font-size: 1.4em

    
#about
  height: 100%
  width: 100%
  background-color: white
  position: relative
  margin: auto
  // border-radius: 20px
